<ul class="social-share">
    <li>
        <a target="_blank" href="whatsapp://send?text=Hello+Checkout+this+post+by+Dheeraj: {{ site.full_base_url }}{{ page.url }}">
            <i class="fa fa-whatsapp fa-fw"></i>
        </a>
    </li>

    <li>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.full_base_url }}{{ page.url }}">
            <i class="fa fa-facebook-square  fa-fw"></i>
        </a>
    </li>

    <li>
        <a target="_blank" href="https://twitter.com/intent/tweet?text=Checkout+this+post: {{ site.full_base_url }}{{ page.url }}">
            <i class="fa fa-twitter-square  fa-fw"></i>
        </a>
    </li>

    <li>
        <a target="_blank" href="{{ site.full_base_url }}{{ page.url }}">
            <i class="fa fa-share-alt  fa-fw"></i>
        </a>
    </li>
</ul>