ul.social-share li {
    list-style: none;
    display: inline;
    margin: 10px 5px;
    padding-left: 0px;
    margin: 0px;
}

.whastapp{
    color:'#128c7e';
}

.facebook{
color:'#3b5998';
}

.twitter{
    color:'#1da1f2';
}

