ul.social-share{
    padding:0px;
    margin:0px;
}

ul.social-share li {
    list-style: none;
    display: inline;
    margin: 10px 5px;
    padding-left: 0px;
    margin: 0px;
}

a.whastapp{
    color:#128c7e;
}

a.facebook{
color:#3b5998;
}

a.twitter{
    color:#1da1f2;
}

